<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.min.js"
          type="text/javascript"></script>

<script type="text/javascript">
console.log('init');

function takeoff(){
  console.log("takeoff");
$.ajax({
  url: "/takeoff",
  success: function( data ) {
    console.log('takeoff ok')
  }
});
}

function landing(){
  console.log("landing");
$.ajax({
url: "/landing",
success: function( data ) {
  console.log('landing ok')
}
});
}


</script>
</head>
<body>
<button onclick="takeoff()">START</button>
<button onclick="landing()">FINISH</button>

</body>
</html>
